body {
  background: #f1f3f6;
  font-family: Arial, sans-serif;
}

.exam-box {
  width: 700px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#timer {
  color: red;
  font-weight: bold;
}

.option {
  display: block;
  margin: 10px 0;
}

.nav-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.submit-btn {
  background: #ff4e50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
