* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background:linear-gradient(45deg, #ff4e50, #f8b400);;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 400px;
}

.login-card {
  background: babypink;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.login-card h2 {
  color: #2874f0;
  margin-bottom: 5px;
}

.subtitle {
  color: #555;
  margin-bottom: 20px;
}

.login-card input,
.login-card select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: #ff9f00;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.login-card button:hover {
  background: #e68900;
}

.note {
  font-size: 12px;
  color: #777;
  margin-top: 15px;
}
